{% extends "base.html" %}

{% block content %}
    <h1>Dashboard <small> Welcome Fred</small></h1>
  <a class="btn btn-success" href="/add_feed"> Add Feed</a>
  <hr>
  <table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Link</th>
        <th>Tag 1</th>
        <th>Tag 2</th>
        <th></th>
        <th></th>
    </tr>
    {% for feed in feeds %}
      <tr>
        <td>{{feed.rss_i}}</td>
        <td>{{feed.name}}</td>
        <td>{{feed.link}}</td>
        <td>{{feed.article_1}}</td>
        <td>{{feed.article_2}}</td>
        <td><a href="{{url_for('edit_feed', id=feed.rss_i)}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
        <form action="{{url_for('delete_feed', id=feed.rss_i)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
        </td>
      </tr>
    {% endfor %}
</table>
{% endblock %}